<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/app.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="servers">
            <h3>Servidor</h3>
        
            <button id="server-button">Crear Servidor</button>
            <div id="server-list"></div>
        </div>
        <div id="channels">
            <h3>Canales del Servidor</h3>
            <button id="channel-button">Crear Canal</button>
            <!-- Lista de canales -->
            <div id="channel-list"></div>
        </div>

        <div id="message" class="chat-container">
            <div id="chat-display" class="chat-display"></div>
            <!-- Lista de mensajes -->
            <div class="input-container" >
                <input type="text" id="message-input"placeholder="Escribe un mensaje...">
                <button id="send-button">Enviar</button>
            </div>
        </div>

    </div>
    <script src="../scripts/app.js"></script>
</body>
</html>