<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>index</title>
</head>
<body>
    <header>
        <div class="logo"><span>DiscTeam</span></div>
        <nav>
            <a href="#">Download</a>
            <a href="#">Participantes</a>
            <a href="#">Quienes Somos</a>
            <a href="#">Trabaja con Nosotros</a>
        </nav>
        <div class="login">
            <a href="/templates/login.html">Login</a>
        </div>
        
    </header>

    <div class="contenedor_principal">
        <div id="letras">
            <h1>IMAGINA UN LUGAR...</h1>
            <p>...en el que puedas formar parte de un club escolar,<br> un grupo de jugadores o una comunidad mundial de arte. <br>En el que puedas pasar tiempo con unos cuantos amigos.
          <br>   Un lugar que haga que hablar a diario y divertirte más a menudo sea fácil.</p></div>
        <img src="../assets/imagen_principal.jpg" alt="imagen">
    </div>

    <div>

    </div>
    <div>

    </div>
</body>
</html>


