<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>index</title>
</head>
<body>
    <header>
        <div class="logo"><span>DiscTeam</span></div>
        <nav>
            <a href="#">Download</a>
            <a href="#Participantes1">Participantes</a>
            <a href="#">Quienes Somos</a>
            <a href="#">Trabaja con Nosotros</a>
        </nav>
        <div class="login">
            <a href="/templates/login.html">Login</a>
        </div>
        
    </header>

    <div class="contenedor_principal">
        <div id="letras">
            <h1>IMAGINA UN LUGAR...</h1>
            <p>...en el que puedas formar parte de un club escolar,<br> un grupo de jugadores o una comunidad mundial de arte. <br>En el que puedas pasar tiempo con unos cuantos amigos.
          <br>   Un lugar que haga que hablar a diario y divertirte más a menudo sea fácil.</p></div>
        <img src="../assets/imagen_principal.jpg" alt="imagen">
    </div>

    <div class="Participantes" id="Participantes1">
        <h1>Participantes:</h1>
        <div class="product-card">
            <img src="../assets/image_samuel.jpg" alt="Producto" class="tamaño_img">
            <div class="product-info">
                <h3>Samuel Cruz</h3>
                <ul>
                    <li>Edad: 23 años</li>
                    <li>Ocupacion: Estudiante</li>
                    <li>Correo Electronico: samu.17.rock@gmail.com </li>
                    <li>Celular: 3875614333</li>
                    <li>Direccion: Calle falsa 123</li>
                </ul>
                <a href="https://www.linkedin.com/in/samuel-cruz-525b88250/">Linkedin</a>
            </div>
        </div>
        <div class="product-card">
            <img src="../assets/facundo.jpeg" alt="Producto" class="tamaño_img">
            <div class="product-info">
    
                <h3>Facundo Balderrama</h3>
    
                <ul>
                    <li>Edad: Asus</li>
                    <li>Ocupacion: 8gb</li>
                    <li>Correo Electronico: facubalde@gmail.com</li>
                    <li>Celular: 3875421995</li>
                    <li>Direccion: Av Siemprviva 742</li>
                </ul>
    
                <a href="#">Linkedin</a>
            </div>
        </div>
        
    </div>
    <footer>
        <p>Contacto: <a href="mailto:contacto@misitio.com">contacto@misitio.com</a></p>
        <p>Síguenos en: <a href="https://www.facebook.com/misitio">Facebook</a> | <a href="https://twitter.com/misitio">Twitter</a></p>
        <p>&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>


